torch==2.5.1
torchvision==0.20.1
numpy
pandas
scikit-learn
matplotlib
tqdm
Pillow
gymnasium[classic-control,box2d]
pygame
stable-baselines3==2.8.0
optuna
tensorboard
ipykernel==6.29.5
ipython==8.31.0
pyzmq==25.1.2
debugpy==1.8.9
nbformat
nbclient
nbconvert
omegaconf
wandb
pytorch-lightning
torchmetrics
datasets>=3,<4
pyarrow==18.1.0
transformers
accelerate>=0.26.0
faster-coco-eval
rich
ipywidgets
gradio
